@media screen and (min-width: 1080px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
  }
  header .header {
    background-color: rgb(130, 61, 28);
    position: absolute;
    max-height: 18vh;
    min-width: 100%;
    z-index: +3;
  }

  header .logo img {
    max-width: 5%;
    position: relative;
    left: 45%;
    top: 3px;
  }

  header .menu {
    position: relative;
    height: 30px;
    width: 30px;
    background: url(../Arab/assets/images/menu-hamburguer.png) no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
  }

  .links a {
    text-decoration: none;
    color: rgb(227, 219, 198);
  }

  .leftSide a {
    position: absolute;
    top: 26%;
    left: 14%;
    font-size: 25px;
  }

  #news {
    position: absolute;
    top: 26%;
    left: 23%;
  }

  #merch {
    position: absolute;
    top: 26%;
    left: 32%;
  }

  .rightSide a {
    position: absolute;
    top: 26%;
    left: 56%;
    font-size: 25px;
  }

  #about {
    position: absolute;
    top: 26%;
    left: 65%;
  }

  #history {
    position: absolute;
    top: 26%;
    left: 78%;
  }

  .links a:hover {
    color: white;
    transition: all 160ms ease-in 100ms;
  }

  .buttons img {
    max-width: 25px;
  }

  .buttons button {
    background: transparent;
    border: none;
    position: absolute;
    top: 30%;
    left: 92%;
    cursor: pointer;
  }

  #cart {
    position: absolute;
    top: 30%;
    left: 90%;
  }

  #search {
    position: absolute;
    top: 30%;
    left: 92%;
  }

  #search-bar {
    display: none;
    position: absolute;
    top: 60%;
    left: 90%;
    min-height: 30px;
    min-width: 60px;
    border-radius: 10px;
  }

  #search-bar .active {
    display: block;
    position: absolute;
    top: 60%;
    left: 90%;
    min-height: 30px;
    min-width: 60px;
    border-radius: 10px;
  }

  #doce h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 40px;
    color: rgb(227, 219, 198);
  }

  #doce button {
    position: absolute;
    top: 28%;
    left: 41%;
    font-size: 40px;
    padding: 15px;
    background-color: rgb(130, 61, 28);
    color: rgb(227, 219, 198);
    cursor: pointer;
  }

  #doce button:hover {
    background-color: rgb(227, 219, 198);
    color: rgb(130, 61, 28);
    transition: all 170ms ease-in 170ms;
  }

  #sol h1 {
    position: absolute;
    top: 20%;
    left: 16%;
    font-size: 40px;
    color: rgb(130, 61, 28);
  }

  #sol button {
    position: absolute;
    top: 28%;
    left: 41%;
    font-size: 40px;
    padding: 15px;
    background-color: rgb(130, 61, 28);
    color: rgb(227, 219, 198);
    cursor: pointer;
  }

  #sol button:hover {
    background-color: rgb(227, 219, 198);
    color: rgb(130, 61, 28);
    transition: all 170ms ease-in 170ms;
  }
}

@media screen and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
  }

  html {
    scroll-snap-type: y mandatory;
  }

  .section {
    scroll-snap-align: start;
  }

  header .header {
    background-color: rgb(130, 61, 28);
    position: absolute;
    max-height: 6vh;
    min-width: 100%;
    z-index: +3;
  }

  header .logo img {
    max-width: 20%;
    position: relative;
    left: 40%;
    top: 12px;
  }

  header .menu {
    position: relative;
    height: 30px;
    width: 30px;
    background: url(../Arab/assets/images/menu-hamburguer.png) no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
  }

  .links {
    display: none;
  }

  .buttons img {
    max-width: 25px;
  }

  .buttons button {
    background: transparent;
    border: none;
    position: absolute;
    top: 30%;
    left: 83%;
  }

  #cart {
    position: absolute;
    top: 30%;
    left: 10%;
  }

  #search-bar {
    display: none;
    position: absolute;
    top: 6.5vh;
    min-height: 30px;
    min-width: 99%;
    border-radius: 10px;
    z-index: -2;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  #search-bar .active {
    display: none;
    position: absolute;
    top: 6vh;
    min-height: 30px;
    min-width: 99%;
    border-radius: 10px;
    z-index: -2;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .swiper {
    min-width: 100%;
  }

  .swiper-slide {
    min-width: 100%;
  }

  #doce h1 {
    width: 280px;
    position: absolute;
    top: 13%;
    left: 10%;
    font-size: 25px;
    color: rgb(227, 219, 198);
  }

  #doce button {
    position: absolute;
    top: 40%;
    left: 24%;
    font-size: 30px;
    padding: 15px;
    background-color: rgb(130, 61, 28);
    color: rgb(227, 219, 198);
    cursor: pointer;
  }

  #doce button:hover {
    background-color: rgb(227, 219, 198);
    color: rgb(130, 61, 28);
    transition: all 170ms ease-in 170ms;
  }

  #sol h1 {
    width: 280px;
    position: absolute;
    top: 13%;
    left: 10%;
    font-size: 25px;
    color: rgb(130, 61, 28);
  }

  #sol button {
    position: absolute;
    top: 40%;
    left: 24%;
    font-size: 30px;
    padding: 15px;
    background-color: rgb(130, 61, 28);
    color: rgb(227, 219, 198);
    cursor: pointer;
  }

  #sol button:hover {
    background-color: rgb(227, 219, 198);
    color: rgb(130, 61, 28);
    transition: all 170ms ease-in 170ms;
  }

  @media all and (max-width: 1080px) {
    img {
      width: 100%;
    }
    video {
      width: 100%;
    }
  }
}
